@model PrintStat.Models.ViewModels.DeviceConsumableView

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>
@*<script type="text/javascript">

    $(document).ready(function () {
        $("#ddlCategory").change(function () {
            var categoryId =  $("#ddlCategory").val();
              //$("#dvCategoryResults").load('@(Url.Action("partialDeviceConsumable","Device",null, Request.Url.Scheme))?categoryId=' + categoryId);
        });
    });
</script>*@

@using (Html.BeginForm("EditDeviceConsumable", "Device", FormMethod.Post, new {@class = "form-horizontal"}))
{
    <fieldset>
        <h2>
            Комплектующие @ViewBag.DeviceName
        </h2>

        <div id="partialDevConsumable">
         @{Html.RenderPartial("partialDeviceConsumable", Model);}
        </div>
    </fieldset>
}