@model PrintStat.Models.ViewModels.EmployeeView

@using (Html.BeginForm("CreateEmployee", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="Name">
                ФИО сотрудника
            </label>

            <div class="controls">
                @Html.TextBox("Name", Model.Name)
                @Html.ValidationMessage("Name")
            </div>
        </div>
      
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Создать
            </button>
            @Html.ActionLink("Отмена", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}